body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    }

.heading {
    text-align: center;
    padding-top: 50px;
}
.login-div{
    color:green;
    font-size: 11px;
}
input {
    padding: 8px;
    margin-bottom: 14px;
    margin-top: 1px;
    width: 270px;
    outline: none;
    text-align: center;
}
div.sign-in-form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
i {
    padding-right: 10px;
    padding: 8px;
    margin-top: 2px;
    margin-left: 2px;
}
.button {
    text-align: center;  
}
#submit-button {
    width: 270px;
    color: rgb(5, 5, 5);
    background-color: rgb(50, 125, 238);
    padding: 10px;
    border-radius: 5px;
    border: none;
}
#submit-button:hover{
    background-color: rgb(38, 58, 240);
    color: white;
}
.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 30px;   
}
.input-field {
    border: 0.25px thin rgb(32, 31, 31); 
}
#login-edit {
    text-decoration: none;
}
#login-edit:visited {
    color: rgb(83, 83, 250);
}
#login-edit:hover {
    
    color: rgb(42, 5, 252);
}
#send_mail_body {
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar ul {
    list-style: none;
    background: rgb(56, 71, 209);
    padding: 0;
    margin: 0;
    text-align: right;
}

.navbar li {
    display: inline-block;
}
#username-edit {
    color:white;
    font-weight: bold;
    font-size: 18px;
    padding-right: 5px;
    }
.navbar a {
    color: #fff;
    text-decoration: none;
    width: 100px;
    display: block;
    text-align: center;
    padding: 24px 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.navbar a:hover {
    background-color:#0c1685;

}
#subscribe {
    padding: 10px 26px;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(30, 204, 30);
    border: none;
    border-radius: 4px;
}
#subscribe:hover {
    background-color: rgb(35, 167, 35);
}
#Unsubscribe {
    padding: 10px 26px;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(247, 26, 26);
    border: none;
    border-radius: 4px;
}
#Unsubscribe:hover {
    background-color: rgb(194, 28, 28);
}
#SUBS-UNSUBS {
    display: block;
}
#Subs-Unsubs {
    
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    
}
#random-arrange {
    text-align: center;
}
#random {
    background: rgb(115, 117, 247);
    color:white;
    padding: 8px 16px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 3px; margin-bottom: 14px;
    padding-bottom: 4px;
    text-align: center;
}
#xkcd {
    text-align: center;
}
#title {
    text-align: center;
}
#title1 {
    font-size:50px;
    margin-right: 30px;

}
#title2 {
    margin-left: 40px;
}
.instruction{
    color: rgb(18, 128, 18);
    font-size:11px;
    margin-left: 10px;
}
